src/Marvin.Products.UI/Service References/ProductService/ProductInteraction31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" />
  <xs:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer.Products" />
  <xs:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Marvin.Serialization" />
  <xs:element name="GetCustomization">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetCustomizationResult" nillable="true" type="q1:ProductCustomization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer.Products" minOccurs="0" name="query" nillable="true" type="q2:ProductQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetProductsResult" nillable="true" type="q3:ArrayOfProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="CreateProductResult" nillable="true" type="q4:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetProductDetailsResult" nillable="true" type="q5:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="instance" nillable="true" type="q6:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="SaveProductResult" nillable="true" type="q7:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceId" type="xs:long" />
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revisionNo" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="DuplicateProductResult" nillable="true" type="q8:DuplicateProductResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importerName" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Marvin.Serialization" minOccurs="0" name="parametersModel" nillable="true" type="q9:Entry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="ImportProductResult" nillable="true" type="q10:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importer" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Marvin.Serialization" minOccurs="0" name="currentParameters" nillable="true" type="q11:Entry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Marvin.Serialization" minOccurs="0" name="UpdateParametersResult" nillable="true" type="q12:Entry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetRecipeResult" nillable="true" type="q13:RecipeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetRecipesResult" nillable="true" type="q14:ArrayOfRecipeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipeType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="CreateRecipeResult" nillable="true" type="q15:RecipeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="recipe" nillable="true" type="q16:RecipeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="SaveRecipeResult" nillable="true" type="q17:RecipeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkplans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkplansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetWorkplansResult" nillable="true" type="q18:ArrayOfWorkplanModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeProviderName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeProviderNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecipeProviderNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>