src/Marvin.Products.UI/Service References/ProductService/ProductInteraction34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExcludeDerivedTypes" type="xs:boolean" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncludeDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipeFilter" type="tns:RecipeFilter" />
      <xs:element minOccurs="0" name="Revision" type="xs:short" />
      <xs:element minOccurs="0" name="RevisionFilter" type="tns:RevisionFilter" />
      <xs:element minOccurs="0" name="Selector" type="tns:Selector" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductQuery" nillable="true" type="tns:ProductQuery" />
  <xs:simpleType name="RecipeFilter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unset" />
      <xs:enumeration value="WithRecipe" />
      <xs:enumeration value="WithoutRecipes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RecipeFilter" nillable="true" type="tns:RecipeFilter" />
  <xs:simpleType name="RevisionFilter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="Latest" />
      <xs:enumeration value="Specific" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RevisionFilter" nillable="true" type="tns:RevisionFilter" />
  <xs:simpleType name="Selector">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Direct" />
      <xs:enumeration value="Parent" />
      <xs:enumeration value="Parts" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Selector" nillable="true" type="tns:Selector" />
  <xs:complexType name="ArrayOfProductFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductFile" nillable="true" type="tns:ProductFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductFile" nillable="true" type="tns:ArrayOfProductFile" />
  <xs:complexType name="ProductFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:FileType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductFile" nillable="true" type="tns:ProductFile" />
  <xs:simpleType name="FileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Image" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="Binary" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileType" nillable="true" type="tns:FileType" />
  <xs:simpleType name="RecipeState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Released" />
      <xs:enumeration value="Revoked" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RecipeState" nillable="true" type="tns:RecipeState" />
</xs:schema>