src/Moryx.Products.UI/Service References/ProductService/ProductInteraction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductInteraction" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Moryx.Products.Management.Modification" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Moryx.Serialization" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Moryx.AbstractionLayer.Products" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Moryx.AbstractionLayer.Recipes" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Moryx.Workflows" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductInteraction_GetCustomization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomization" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetCustomization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomizationResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_CreateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduct" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_CreateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetProductDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetails" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetProductDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_SaveProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProduct" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_SaveProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_DuplicateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DuplicateProduct" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_DuplicateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DuplicateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_ImportProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportProduct" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_ImportProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_UpdateParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParameters" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_UpdateParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipe" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetRecipes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipes" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetRecipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_CreateRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRecipe" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_CreateRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_SaveRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveRecipe" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_SaveRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetWorkplans_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkplans" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetWorkplans_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkplansResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetRecipeProviderName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeProviderName" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetRecipeProviderName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeProviderNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductInteraction">
    <wsdl:operation name="GetCustomization">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetCustomization" message="tns:IProductInteraction_GetCustomization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetCustomizationResponse" message="tns:IProductInteraction_GetCustomization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetProducts" message="tns:IProductInteraction_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetProductsResponse" message="tns:IProductInteraction_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/CreateProduct" message="tns:IProductInteraction_CreateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/CreateProductResponse" message="tns:IProductInteraction_CreateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetProductDetails" message="tns:IProductInteraction_GetProductDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetProductDetailsResponse" message="tns:IProductInteraction_GetProductDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/SaveProduct" message="tns:IProductInteraction_SaveProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/SaveProductResponse" message="tns:IProductInteraction_SaveProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DuplicateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/DuplicateProduct" message="tns:IProductInteraction_DuplicateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/DuplicateProductResponse" message="tns:IProductInteraction_DuplicateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/DeleteProduct" message="tns:IProductInteraction_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/DeleteProductResponse" message="tns:IProductInteraction_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/ImportProduct" message="tns:IProductInteraction_ImportProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/ImportProductResponse" message="tns:IProductInteraction_ImportProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/UpdateParameters" message="tns:IProductInteraction_UpdateParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/UpdateParametersResponse" message="tns:IProductInteraction_UpdateParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetRecipe" message="tns:IProductInteraction_GetRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetRecipeResponse" message="tns:IProductInteraction_GetRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipes">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetRecipes" message="tns:IProductInteraction_GetRecipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetRecipesResponse" message="tns:IProductInteraction_GetRecipes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/CreateRecipe" message="tns:IProductInteraction_CreateRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/CreateRecipeResponse" message="tns:IProductInteraction_CreateRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/SaveRecipe" message="tns:IProductInteraction_SaveRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/SaveRecipeResponse" message="tns:IProductInteraction_SaveRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkplans">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetWorkplans" message="tns:IProductInteraction_GetWorkplans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetWorkplansResponse" message="tns:IProductInteraction_GetWorkplans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipeProviderName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetRecipeProviderName" message="tns:IProductInteraction_GetRecipeProviderName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetRecipeProviderNameResponse" message="tns:IProductInteraction_GetRecipeProviderName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductInteraction" type="tns:IProductInteraction">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomization">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetCustomization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/CreateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetails">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetProductDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/SaveProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DuplicateProduct">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/DuplicateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportProduct">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/ImportProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateParameters">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/UpdateParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipe">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipes">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRecipe">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/CreateRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRecipe">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/SaveRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkplans">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetWorkplans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipeProviderName">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetRecipeProviderName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductInteraction">
    <wsdl:port name="BasicHttpBinding_IProductInteraction" binding="tns:BasicHttpBinding_IProductInteraction">
      <soap:address location="http://localhost/ProductInteraction" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>