src/Moryx.Products.UI/Service References/ProductService/ProductInteraction37.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Marvin.Serialization" />
  <xs:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer.Products" />
  <xs:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer.Recipes" />
  <xs:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Marvin.Workflows" />
  <xs:complexType name="ProductCustomization">
    <xs:sequence>
      <xs:element minOccurs="0" name="Importers" nillable="true" type="tns:ArrayOfProductImporter" />
      <xs:element minOccurs="0" name="ProductTypes" nillable="true" type="tns:ArrayOfProductDefinitionModel" />
      <xs:element minOccurs="0" name="RecipeTypes" nillable="true" type="tns:ArrayOfRecipeDefinitionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCustomization" nillable="true" type="tns:ProductCustomization" />
  <xs:complexType name="ArrayOfProductImporter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductImporter" nillable="true" type="tns:ProductImporter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductImporter" nillable="true" type="tns:ArrayOfProductImporter" />
  <xs:complexType name="ProductImporter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Marvin.Serialization" minOccurs="0" name="Parameters" nillable="true" type="q1:Entry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductImporter" nillable="true" type="tns:ProductImporter" />
  <xs:complexType name="ArrayOfProductDefinitionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDefinitionModel" nillable="true" type="tns:ProductDefinitionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDefinitionModel" nillable="true" type="tns:ArrayOfProductDefinitionModel" />
  <xs:complexType name="ProductDefinitionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseDefinition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDefinitionModel" nillable="true" type="tns:ProductDefinitionModel" />
  <xs:complexType name="ArrayOfRecipeDefinitionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeDefinitionModel" nillable="true" type="tns:RecipeDefinitionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeDefinitionModel" nillable="true" type="tns:ArrayOfRecipeDefinitionModel" />
  <xs:complexType name="RecipeDefinitionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasWorkplans" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeDefinitionModel" nillable="true" type="tns:RecipeDefinitionModel" />
  <xs:complexType name="ArrayOfProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductModel" nillable="true" type="tns:ProductModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductModel" nillable="true" type="tns:ArrayOfProductModel" />
  <xs:complexType name="ProductModel">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer.Products" minOccurs="0" name="Files" nillable="true" type="q2:ArrayOfProductFile" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parts" nillable="true" type="tns:ArrayOfPartConnector" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Marvin.Serialization" minOccurs="0" name="Properties" nillable="true" type="q3:Entry" />
      <xs:element minOccurs="0" name="Recipes" nillable="true" type="tns:ArrayOfRecipeModel" />
      <xs:element minOccurs="0" name="Revision" type="xs:short" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer.Products" minOccurs="0" name="State" type="q4:ProductState" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ProductModel" nillable="true" type="tns:ProductModel" />
  <xs:complexType name="ArrayOfPartConnector">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartConnector" nillable="true" type="tns:PartConnector" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartConnector" nillable="true" type="tns:ArrayOfPartConnector" />
  <xs:complexType name="PartConnector">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCollection" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parts" nillable="true" type="tns:ArrayOfPartModel" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Marvin.Serialization" minOccurs="0" name="PropertyTemplates" nillable="true" type="q5:Entry" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PartConnector" nillable="true" type="tns:PartConnector" />
  <xs:complexType name="ArrayOfPartModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartModel" nillable="true" type="tns:PartModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartModel" nillable="true" type="tns:ArrayOfPartModel" />
  <xs:complexType name="PartModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ProductModel" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Marvin.Serialization" minOccurs="0" name="Properties" nillable="true" type="q6:Entry" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PartModel" nillable="true" type="tns:PartModel" />
  <xs:complexType name="ArrayOfRecipeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeModel" nillable="true" type="tns:RecipeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeModel" nillable="true" type="tns:ArrayOfRecipeModel" />
  <xs:complexType name="RecipeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Classification" type="tns:RecipeClassificationModel" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Marvin.Serialization" minOccurs="0" name="Properties" nillable="true" type="q7:Entry" />
      <xs:element minOccurs="0" name="Revision" type="xs:int" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer.Recipes" minOccurs="0" name="State" type="q8:RecipeState" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkplanId" type="xs:long" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="RecipeModel" nillable="true" type="tns:RecipeModel" />
  <xs:simpleType name="RecipeClassificationModel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unset" />
      <xs:enumeration value="Default" />
      <xs:enumeration value="Alternative" />
      <xs:enumeration value="Intermediate" />
      <xs:enumeration value="Part" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RecipeClassificationModel" nillable="true" type="tns:RecipeClassificationModel" />
  <xs:complexType name="DuplicateProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duplicate" nillable="true" type="tns:ProductModel" />
      <xs:element minOccurs="0" name="IdentityConflict" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvalidSource" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DuplicateProductResponse" nillable="true" type="tns:DuplicateProductResponse" />
  <xs:complexType name="ArrayOfWorkplanModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkplanModel" nillable="true" type="tns:WorkplanModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkplanModel" nillable="true" type="tns:ArrayOfWorkplanModel" />
  <xs:complexType name="WorkplanModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Marvin.Workflows" minOccurs="0" name="State" type="q9:WorkplanState" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="WorkplanModel" nillable="true" type="tns:WorkplanModel" />
</xs:schema>