src/Moryx.Resources.UI/Connected Services/ResourceService/ResourceInteraction1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Metadata/ResourceInteraction?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Moryx.Resources.Interaction" />
  <xs:import schemaLocation="http://localhost/Metadata/ResourceInteraction?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/Metadata/ResourceInteraction?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Moryx.Serialization" />
  <xs:element name="GetTypeTree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Moryx.Resources.Interaction" minOccurs="0" name="GetTypeTreeResult" nillable="true" type="q1:ResourceTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Moryx.Resources.Interaction" minOccurs="0" name="query" nillable="true" type="q2:ResourceQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Moryx.Resources.Interaction" minOccurs="0" name="GetResourcesResult" nillable="true" type="q3:ArrayOfResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q4:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Moryx.Resources.Interaction" minOccurs="0" name="GetDetailsResult" nillable="true" type="q5:ArrayOfResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Moryx.Serialization" minOccurs="0" name="method" nillable="true" type="q6:MethodEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Moryx.Serialization" minOccurs="0" name="InvokeMethodResult" nillable="true" type="q7:Entry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceType" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Moryx.Serialization" minOccurs="0" name="constructor" nillable="true" type="q8:MethodEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Moryx.Resources.Interaction" minOccurs="0" name="CreateResult" nillable="true" type="q9:ResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Moryx.Resources.Interaction" minOccurs="0" name="resource" nillable="true" type="q10:ResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Moryx.Resources.Interaction" minOccurs="0" name="SaveResult" nillable="true" type="q11:ResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>